body{
  margin: auto;
  text-align: center;
  background-image: url(./imagens/Wave.png) ;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 1024px;
  height: 790px;
}

#container {
  width: 539px;
  height: 586px; 
  margin: auto;
}

img {
  width: 350px;
  height: 238px;
  margin-top: 64px;
  margin-bottom: 32px;
}

h1{
 font-family: 'Dosis', sans-serif;
 font-weight: 500;
 color: #3F3D56;
 font-size: 32px;
 line-height: 40%;
}

h1 span {
 font-family: 'Dosis', sans-serif;
 font-weight: 700;
 color: #EE24FF;
}

p, p1 { 
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #828282;
}

p, p1 strong {
  color: #3F3D56;
}

p2 {
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #828282;
  margin-top: 32px;
}

footer {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 15px;
  margin-top: 16px;
  text-align: center;
  word-spacing: 42px;
}

a {
  text-decoration: none;
}

#line {
  border: solid 0.1px #828282;
  width: 391px;
  margin: auto;
  margin-top: 64;
}

html{
  width: 100%;
	height: 100%;
}

